n8n/tech-checker-template.json
{
  "name": "Tech Checker Template",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -16
      ],
      "id": "6e2453e8-ed10-47c8-b381-fb7bfd7e3478",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -208
      ],
      "id": "ec687ef2-50ea-41fc-8b60-2c1edff37c03",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const REPORT_CHAT_ID = $env.REPORT_CHAT_ID || 'TELEGRAM_CHAT_ID_HERE';\n\nconst input = $json;\nconst now = new Date().toISOString();\n\nconst isTelegram = Boolean(input.message && input.message.chat);\n\nconst commandMap = {\n  '/report': 'full',\n  '/health': 'health',\n  '/speed': 'speed',\n  '/help': 'help'\n};\n\nif (isTelegram) {\n  const text = (input.message.text || '').trim();\n  const chatId = String(input.message.chat.id);\n  const messageId = input.message.message_id;\n  const commandRaw = text.split(/\\s+/)[0] || '';\n  const command = commandRaw.replace(/@\\w+$/, '').toLowerCase();\n  const runMode = commandMap[command] || null;\n\n  return [\n    {\n      json: {\n        source: 'telegram',\n        should_run: Boolean(runMode),\n        chat_id: chatId,\n        message_id: messageId,\n        command,\n        run_mode: runMode || 'unknown',\n        requested_at: now,\n        is_manual: true\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      source: 'schedule',\n      should_run: true,\n      chat_id: REPORT_CHAT_ID,\n      message_id: null,\n      command: 'schedule',\n      run_mode: 'full',\n      requested_at: now,\n      is_manual: false\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -112
      ],
      "id": "49687a06-2546-4eb0-ab01-67336841fdf5",
      "name": "Normalize Run"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ea37d85-565b-43f3-9ae1-1a5da2be557e",
              "leftValue": "={{ $json.should_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -112
      ],
      "id": "dc689957-7e52-4f6e-9443-47603b05cbde",
      "name": "Should Run?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "16e2c27c-759a-47ae-9b56-a2ab49464a7e",
              "leftValue": "={{ $json.is_manual === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -112
      ],
      "id": "748d5054-9ae4-4465-9125-92d44ad0146c",
      "name": "Manual Run?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{\n$json.run_mode === 'help'\n  ? 'Report commands:\\n\\n/report — full report\\n/health — health check only\\n/speed — speed check only\\n/help — command list'\n  : $json.run_mode === 'full'\n    ? '⏳ Started full report: health check + speed check.'\n    : $json.run_mode === 'health'\n      ? '⏳ Started site health check.'\n      : $json.run_mode === 'speed'\n        ? '⏳ Started speed check.'\n        : 'Command not recognized.'\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -176
      ],
      "id": "698c7db4-88ae-4218-9376-1e16ac058466",
      "name": "Send status message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2797b940-b379-4d94-ad51-9590bdc0fd6c",
              "leftValue": "={{ $json.run_mode }}",
              "rightValue": "help",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        -112
      ],
      "id": "56648582-71d4-4413-b50e-91bcbe71dfdd",
      "name": "Not Help?"
    },
    {
      "parameters": {
        "jsCode": "const runMode = $json.run_mode;\n\nconst runHealth = runMode === 'full' || runMode === 'health';\nconst runSpeed = runMode === 'full' || runMode === 'speed';\n\nconst CONFIG = {\n  project_slug: '',\n  project_name: '',\n  base_url: '',\n\n  product_path: '',\n  cart_path: '',\n\n  health_runner_url: '',\n  health_runner_api_key: $env.HEALTH_RUNNER_API_KEY || '',\n\n  speed_json_url: '',\n  speed_image_url: '',\n  speed_runner_api_key: $env.SPEED_RUNNER_API_KEY || '',\n\n  health_timeout_ms: 45000,\n  speed_timeout_ms: 60000,\n\n  health_checks: [\n    'home_page_open',\n    'product_page_open',\n    'cart_page_open'\n  ],\n\n  health_block_resource_types: [\n    'image',\n    'media',\n    'font'\n  ],\n\n  health_include_screenshots: false,\n  health_artifact_limit: 20,\n  health_locale: 'en-US',\n\n  speed_reference_pages: [],\n\n  selectors: {\n    product_gallery: '',\n    add_to_cart_button: '',\n    cart_count: '',\n    cart_total: '',\n    cart_item: '',\n    cart_remove_button: '',\n    accessory_option: '',\n    accessory_update_button: '',\n    motivator_open_button: '',\n    motivator_card: ''\n  },\n\n  product: {\n    expected_title_contains: '',\n    expected_quantity_after_update: 1,\n    accessory_variants: []\n  },\n\n  expectations: {\n    base_accessory_id: '',\n    expected_paid_accessory_example: '',\n    expected_add_delta: 1,\n    expected_accessory_add_delta: 1,\n    expected_update_delta: 0,\n    expected_double_click_delta: 1,\n    expected_quantity_after_update: 1,\n    motivator_max_discount_total: 30000\n  }\n};\n\nfunction joinUrl(base, path) {\n  if (!base) return '';\n  if (!path) return base.replace(/\\/+$/, '');\n  return `${base.replace(/\\/+$/, '')}/${path.replace(/^\\/+/, '')}`;\n}\n\nconst now = new Date();\nconst reportId = `${CONFIG.project_slug || 'project'}_${now.toISOString().replace(/[:.]/g, '-')}`;\n\nconst homeUrl = CONFIG.base_url ? `${CONFIG.base_url.replace(/\\/+$/, '')}/` : '';\nconst productUrl = joinUrl(CONFIG.base_url, CONFIG.product_path);\nconst cartUrl = joinUrl(CONFIG.base_url, CONFIG.cart_path);\n\nreturn [\n  {\n    json: {\n      report_id: reportId,\n      source: $json.source,\n      command: $json.command,\n      run_mode: runMode,\n      is_manual: $json.is_manual,\n      requested_at: $json.requested_at,\n\n      telegram: {\n        chat_id: $json.chat_id,\n        message_id: $json.message_id\n      },\n\n      checks: {\n        health: runHealth,\n        speed: runSpeed\n      },\n\n      project: {\n        slug: CONFIG.project_slug,\n        name: CONFIG.project_name,\n        base_url: CONFIG.base_url\n      },\n\n      runners: {\n        health_url: CONFIG.health_runner_url,\n        health_api_key: CONFIG.health_runner_api_key,\n        speed_json_url: CONFIG.speed_json_url,\n        speed_image_url: CONFIG.speed_image_url,\n        speed_api_key: CONFIG.speed_runner_api_key\n      },\n\n      pages: {\n        home: {\n          id: 'home',\n          title: 'Home',\n          url: homeUrl\n        },\n        product: {\n          id: 'product',\n          title: 'Product page',\n          url: productUrl\n        },\n        cart: {\n          id: 'cart',\n          title: 'Cart',\n          url: cartUrl,\n          requires_added_product: true\n        },\n        references: CONFIG.speed_reference_pages\n      },\n\n      health: {\n        timeout_ms: CONFIG.health_timeout_ms,\n        checks: CONFIG.health_checks,\n        block_resource_types: CONFIG.health_block_resource_types,\n        include_screenshots: CONFIG.health_include_screenshots,\n        artifact_limit: CONFIG.health_artifact_limit,\n        locale: CONFIG.health_locale,\n        selectors: CONFIG.selectors,\n        flow: {\n          clear_cart_before_test: true,\n          product_url: productUrl,\n          cart_url: cartUrl\n        },\n        product: CONFIG.product,\n        expectations: CONFIG.expectations\n      },\n\n      speed: {\n        device: 'desktop',\n        timeout_ms: CONFIG.speed_timeout_ms,\n        profile: 'datacenter',\n        reference_pages: CONFIG.speed_reference_pages\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -112
      ],
      "id": "59c723ba-1248-4bfc-966f-4a7bd2ea4cf8",
      "name": "Build Report Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca3fbcac-7f96-4659-bad2-25e540f0911b",
              "leftValue": "={{ $json.checks.health }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        -112
      ],
      "id": "03de031a-6541-41d2-9e3a-f11f0e47949b",
      "name": "Run Health?"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst healthChecks = Array.isArray(data.health?.checks) ? data.health.checks : [];\n\nconst payload = {\n  report_id: data.report_id,\n  project: data.project,\n  pages: {\n    home: data.pages.home,\n    product: data.pages.product,\n    cart: data.pages.cart\n  },\n  options: {\n    timeout_ms: data.health?.timeout_ms || 45000,\n    checks: healthChecks,\n    clear_cart_before_test: data.health?.flow?.clear_cart_before_test === true,\n    block_resource_types: Array.isArray(data.health?.block_resource_types) ? data.health.block_resource_types : ['image', 'media', 'font'],\n    include_screenshots: data.health?.include_screenshots === true,\n    artifact_limit: data.health?.artifact_limit || 20,\n    locale: data.health?.locale || 'en-US'\n  },\n  selectors: data.health?.selectors || {},\n  product: data.health?.product || {},\n  expectations: data.health?.expectations || {},\n  checks: {\n    ids: healthChecks\n  }\n};\n\nreturn [{ json: { ...data, health_runner_payload: payload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -208
      ],
      "id": "1a02adec-8ed9-4d52-8a6d-a45439ef7764",
      "name": "Build Health Runner Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.runners.health_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.health_runner_payload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 300000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.runners.health_api_key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        -208
      ],
      "id": "9544a99d-34ec-4929-8c81-1fb02f3dbd8c",
      "name": "Call Health Runner"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Build Health Runner Payload').first().json;\nlet response = $json;\n\nif (response && response.body !== undefined) response = response.body;\nif (response && response.data !== undefined) response = response.data;\n\nif (typeof response === 'string') {\n  try {\n    response = JSON.parse(response);\n  } catch (error) {\n    response = { status: 'error', skipped: false, summary: { total: 0, passed: 0, warnings: 0, failed: 1 }, checks: [], errors: ['Health runner returned invalid JSON'], warnings: [] };\n  }\n}\n\nif (!response || typeof response !== 'object' || Array.isArray(response)) {\n  response = { status: 'error', skipped: false, summary: { total: 0, passed: 0, warnings: 0, failed: 1 }, checks: [], errors: ['Health runner returned empty or invalid response'], warnings: [] };\n}\n\nconst healthResult = {\n  status: response.status || 'error',\n  skipped: response.skipped === true,\n  summary: response.summary || { total: 0, passed: 0, warnings: 0, failed: 1 },\n  checks: Array.isArray(response.checks) ? response.checks : [],\n  errors: Array.isArray(response.errors) ? response.errors : [],\n  warnings: Array.isArray(response.warnings) ? response.warnings : [],\n  artifacts: response.artifacts || {}\n};\n\nreturn [{ json: { ...original, health_runner_response: response, health_result: healthResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -208
      ],
      "id": "a449fd33-29be-42de-94c9-dc02f9b89f6f",
      "name": "Normalize Health Result"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, health_result: { status: 'skipped', skipped: true, summary: { total: 0, passed: 0, warnings: 0, failed: 0 }, checks: [], errors: [], warnings: [], artifacts: {} } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -16
      ],
      "id": "c36d4419-b28e-4d75-8fcf-70bae1f0a3ae",
      "name": "Skip Health"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca3fbcac-7f96-4659-bad2-25e540f0911b",
              "leftValue": "={{ $json.checks.speed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        -112
      ],
      "id": "e5b2c150-7eb3-4203-9954-933dd935fe17",
      "name": "Run Speed?"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst payload = {\n  report_id: data.report_id,\n  project: data.project,\n  pages: {\n    home: data.pages.home,\n    references: data.pages.references || []\n  },\n  speed: {\n    device: data.speed?.device || 'desktop',\n    timeout_ms: data.speed?.timeout_ms || 60000,\n    profile: data.speed?.profile || 'datacenter',\n    reference_pages: data.speed?.reference_pages || []\n  },\n  timeout_ms: data.speed?.timeout_ms || 60000\n};\n\nreturn [{ json: { ...data, speed_runner_payload: payload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -208
      ],
      "id": "4903efcf-ed9a-47fe-be8a-b0d6d2306894",
      "name": "Build Speed Runner Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.runners.speed_json_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.runners.speed_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.speed_runner_payload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2704,
        -208
      ],
      "id": "ffa2e03f-1993-4467-a1ca-0907be30ab84",
      "name": "Call Speed Runner"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Build Speed Runner Payload').first().json;\nlet response = $json;\n\nif (response && response.body !== undefined) response = response.body;\nif (response && response.data !== undefined) response = response.data;\n\nif (typeof response === 'string') {\n  try {\n    response = JSON.parse(response);\n  } catch (error) {\n    response = { ok: false, status: 'error', status_title: '❌ error', telegramMessage: '❌ <b>Speed: error</b>\\n\\nRunner returned invalid JSON.', primary: {}, references: {}, results: [], errors: ['Runner returned invalid JSON'] };\n  }\n}\n\nif (!response || typeof response !== 'object' || Array.isArray(response)) {\n  response = { ok: false, status: 'error', status_title: '❌ error', telegramMessage: '❌ <b>Speed: error</b>\\n\\nRunner returned empty or invalid response.', primary: {}, references: {}, results: [], errors: ['Runner returned empty or invalid response'] };\n}\n\nconst speedResult = {\n  ok: response.ok === true,\n  skipped: response.skipped === true,\n  status: response.status || 'error',\n  status_title: response.status_title || '⚠️ unknown status',\n  telegramMessage: response.telegramMessage || '',\n  primary: response.primary && typeof response.primary === 'object' ? response.primary : {},\n  references: response.references && typeof response.references === 'object' ? response.references : {},\n  results: Array.isArray(response.results) ? response.results : [],\n  errors: Array.isArray(response.errors) ? response.errors : []\n};\n\nreturn [{ json: { ...original, speed_runner_response: response, speed_result: speedResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -208
      ],
      "id": "4e4326b6-8971-4c7a-a553-4a1720e5d764",
      "name": "Normalize Speed Result"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, speed_result: { ok: false, skipped: true, status: 'skipped', status_title: '⏭️ skipped', telegramMessage: '', primary: {}, references: {}, results: [], errors: [] } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -16
      ],
      "id": "31e873f2-d14b-4627-bbbc-99a3e16c1ffb",
      "name": "Skip Speed"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nfunction statusIcon(status) {\n  if (status === 'ok') return '✅';\n  if (status === 'warn' || status === 'warning') return '⚠️';\n  if (status === 'bad' || status === 'failed' || status === 'error') return '❌';\n  if (status === 'skipped') return '⏭️';\n  return '•';\n}\n\nconst health = data.health_result || { status: 'skipped', skipped: true, summary: { total: 0, passed: 0, warnings: 0, failed: 0 }, errors: [] };\nconst speed = data.speed_result || { status: 'skipped', skipped: true, telegramMessage: '', errors: [] };\n\nconst date = new Date().toLocaleString('en-GB', { timeZone: 'UTC', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' });\n\nconst lines = [];\nlines.push('📊 <b>Daily report</b>');\nif (data.project?.name) lines.push(`Project: ${escapeHtml(data.project.name)}`);\nlines.push(`Date: ${date} UTC`);\nlines.push(`Mode: ${escapeHtml(data.run_mode)}`);\nlines.push('');\n\nif (health.skipped) {\n  lines.push('⏭️ Health check skipped');\n} else {\n  const summary = health.summary || {};\n  lines.push(`Health check: ${statusIcon(health.status)} ${summary.passed || 0}/${summary.total || 0} passed`);\n  if (health.errors && health.errors.length) {\n    lines.push('');\n    lines.push('<b>Health errors:</b>');\n    for (const err of health.errors) lines.push(`❌ ${escapeHtml(typeof err === 'string' ? err : JSON.stringify(err))}`);\n  }\n}\n\nif (speed.skipped) {\n  lines.push('');\n  lines.push('⏭️ Speed check skipped');\n} else {\n  lines.push('');\n  lines.push(speed.telegramMessage || `⚡ <b>Speed:</b> ${statusIcon(speed.status)} no detailed data`);\n  if (speed.errors && speed.errors.length) {\n    lines.push('');\n    lines.push('<b>Speed errors:</b>');\n    for (const err of speed.errors) lines.push(`❌ ${escapeHtml(typeof err === 'string' ? err : JSON.stringify(err))}`);\n  }\n}\n\nlet finalStatus = 'ok';\nif ((health.summary && health.summary.failed > 0) || ['bad', 'failed', 'error'].includes(speed.status)) finalStatus = 'failed';\nelse if ((health.summary && health.summary.warnings > 0) || ['warn', 'warning'].includes(speed.status)) finalStatus = 'warning';\n\nlines.push('');\nlines.push(`<b>Result:</b> ${statusIcon(finalStatus)} ${finalStatus === 'ok' ? 'no critical issues' : finalStatus === 'warning' ? 'warnings found' : 'errors found'}`);\n\nreturn [{ json: { ...data, final_status: finalStatus, telegram_message: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        -112
      ],
      "id": "234abbfd-1eee-4473-8098-cbf68ef91baf",
      "name": "Build Final Text Report"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "16e2c27c-759a-47ae-9b56-a2ab49464a7e",
              "leftValue": "={{ $json.is_manual === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3376,
        -112
      ],
      "id": "fce2fe8c-84cb-4355-8105-79ce6fd8be98",
      "name": "Manual Run Before Delete?"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Build Final Text Report').first().json.telegram.chat_id }}",
        "messageId": "={{ $('Send status message').first().json.message_id || $('Send status message').first().json.result?.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3600,
        -176
      ],
      "id": "21b2a5df-505e-4ba5-b74c-d43229147a2b",
      "name": "Delete a chat message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Final Text Report').first().json.telegram.chat_id }}",
        "text": "={{ $('Build Final Text Report').first().json.telegram_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3824,
        -112
      ],
      "id": "6ae3fbec-4b3e-4d75-8b73-96c43145872a",
      "name": "Send a text message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55ca54f1-1033-4a89-83e5-fcc7d9f21eaa",
              "leftValue": "={{ $('Build Final Text Report').first().json.checks.speed === true && !!$('Build Final Text Report').first().json.runners.speed_image_url }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4048,
        -112
      ],
      "id": "7cc9e3e2-1426-4c33-9d8c-b61de4f10866",
      "name": "Send PNG?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Final Text Report').first().json.runners.speed_image_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Build Final Text Report').first().json.runners.speed_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Final Text Report').first().json.speed_runner_payload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4272,
        -112
      ],
      "id": "ed005652-2175-423f-bca0-cff83c20abf6",
      "name": "Call Speed PNG"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Build Final Text Report').first().json.telegram.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4496,
        -112
      ],
      "id": "6416c882-5f18-4e70-940a-c7d46d2ccbd2",
      "name": "Send PNG"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Run": {
      "main": [
        [
          {
            "node": "Should Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Run?": {
      "main": [
        [
          {
            "node": "Manual Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run?": {
      "main": [
        [
          {
            "node": "Send status message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Help?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send status message": {
      "main": [
        [
          {
            "node": "Not Help?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Help?": {
      "main": [
        [
          {
            "node": "Build Report Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Config": {
      "main": [
        [
          {
            "node": "Run Health?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Health?": {
      "main": [
        [
          {
            "node": "Build Health Runner Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Health Runner Payload": {
      "main": [
        [
          {
            "node": "Call Health Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Health Runner": {
      "main": [
        [
          {
            "node": "Normalize Health Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Health Result": {
      "main": [
        [
          {
            "node": "Run Speed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Health": {
      "main": [
        [
          {
            "node": "Run Speed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Speed?": {
      "main": [
        [
          {
            "node": "Build Speed Runner Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Speed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Speed Runner Payload": {
      "main": [
        [
          {
            "node": "Call Speed Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Speed Runner": {
      "main": [
        [
          {
            "node": "Normalize Speed Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Speed Result": {
      "main": [
        [
          {
            "node": "Build Final Text Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Speed": {
      "main": [
        [
          {
            "node": "Build Final Text Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Text Report": {
      "main": [
        [
          {
            "node": "Manual Run Before Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run Before Delete?": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send PNG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PNG?": {
      "main": [
        [
          {
            "node": "Call Speed PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Speed PNG": {
      "main": [
        [
          {
            "node": "Send PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
